Repository Michael-Perillo/SignalStack: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, markdown-lint, link-check, build-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: '\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: markdown-lint
        name: Markdown Lint
        entry: npm run lint:md
        language: system
        files: '\.md$'
        pass_filenames: false

      - id: link-check
        name: Link Check
        entry: npm run test:links
        language: system
        files: '\.md$'
        pass_filenames: false

      - id: build-check
        name: Build Check
        entry: npm run build
        language: system
        files: '(src/|docs/|docusaurus\.config\.ts|sidebars\.ts|package\.json)'
        pass_filenames: false

Revamp docs and homepage
  .github/workflows/deploy.yml
  README.md
  docs/README.md
  docusaurus.config.ts
  src/components/HomepageFeatures/index.tsx
  src/pages/index.tsx
Due: typescript-check, markdown-lint, link-check, build-check

Redesign homepage features with pyramid layout and MUI icons
  docusaurus.config.ts
  package-lock.json
  package.json
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/favicon.ico
  static/img/logo.png
  static/img/logo.svg
  static/img/logo_dark.png
Due: typescript-check, build-check

Refine pyramid UI and remove garden analogies from docs
  docs/explanation/overview.md
  docs/reference/facts.md
  docs/reference/narratives.md
  docs/reference/playbooks.md
  docs/reference/signals.md
  docs/reference/the-matrix.md
  src/components/HomepageFeatures/styles.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Due: typescript-check, markdown-lint, link-check, build-check

Refactor linting and testing to use pre-commit hooks
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/README.md
  package-lock.json
  package.json
Due: markdown-lint, link-check, build-check

Update social card image in Docusaurus config
  docusaurus.config.ts
Due: typescript-check, build-check
